@import "tailwindcss";

@theme {
  --color-isabeline: #F2EFE9;
  --color-outerspace: #4C5760;
  --font-display: "Helvetica Neue"
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
