@import "tailwindcss";

:root {
  color-scheme: light dark;
  background-color: #F2EFE9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

html {
  scroll-behavior: smooth;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.bookSpineText {
  writing-mode: vertical-rl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 80%;
  font-size: 0.7rem;
  font-weight: bolder;
  margin-inline-start: 30%;
  text-align: center;
}

.reviewDivider {
  opacity: 0.1;
  background-color: black;
  width: 100%;
  height: 1px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}